.profiles {
  width: 100%;
  height: auto;
  display: flex;
}

.profiles .profile-left {
  width: 25%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

.profile-left img {
  width: 100%;
  height: 100%;
}

.profiles .profile-right {
  width: 75%;
  height: auto;
  border-radius: 10px;
}
