* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
}
.text-right {
  text-align: right;
}

.bg-green {
  background-color: forestgreen;
  color: aliceblue;
}

.w-300px {
  width: 260px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.p-8px {
  padding: 8px;
}

@media print {
  .print-container {
    margin: 20px;
  }
}
